* {
    /* remise à zero des marges et espaces de la page */
    margin: 0;
    padding: 0;
}

.admin-bar {
    background-color: black;
    height: 39px;
    top: 0;
    position: sticky; /*position fixe de la barre*/
    display: flex;
    justify-content: center; 
    align-items: center;
}

#edit-mod-btn {
    cursor: pointer;
}

button p {
    color: white;
}

.fa-pen-to-square {
    color: white;
    padding-right: 5px;
}

.open-modal {
    display: flex;
    border-style: none;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* séparation des deux block */
    margin-top: 3%;
}

.navbar img {
    margin-left: 7%;
}

.menu {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    margin-right: 10%;
    /* alignement des objets cliquables sur la droite */
}

a {
    text-decoration: none;
}

/* .login {
    cursor: pointer;
} */

.projet,
.contact,
.login {
    margin-right: 13%;
    /* espacement entre chaque objet */
}

/* .insta-icone {
    margin-left: 7%;
} */

.presentation {
    display: flex;
    align-items: center;
    /* mise en page de la photo et du texte de présentation */
    justify-content: center;
    margin-top: 10%;
}

.presentation img {
    max-width: 30%;
    /* limitation de la largeur de la photo */
    margin-right: 5%;
}

.presentation .text {
    max-width: 50%;
    /* limitation de la largeur occupée par le texte de présentation */
}

.presentation p {
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    /* je centre le texte dans la boite */
}

.presentation h2 {
    color: #1D6154;
    text-align: center;
    /* titre centré */
    font-family: 'Syne', sans-serif;
}

.projets h2 {
    color: #1D6154;
    text-align: center;
    /* titre centré */
    margin-top: 10%;
    font-family: 'Syne', sans-serif;
}


.filtres {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.filtres button {
    background-color: #fff;
    color: #1D6154;
    font-family: 'Syne', sans-serif;
    border-radius: 60px;
    margin: 5px;
    /*Espacement entre les boutons */
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.filtres button:hover {
    background-color: #1D6154;
    /* changement de couleur lorsque je survole avec la souris */
    color: white;
}

.myprojets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 10px;
    margin-top: 5%;
    margin-left: 20px;
}

.myprojets img {
    max-width: 95%;
}

/* .photo {
    margin: 0 10px; /* Espacement entre les photos */
/* max-width: 22%;
}

.photo img {
    max-width: 100%;
    height: auto;
    display: block;
}  */


#contact1 {
    margin-top: 5%;
    color: #1D6154;
    font-family: 'Syne', sans-serif;
    text-align: center;
}

#contact1 p {
    margin-top: 1%;
    font-family: 'Work Sans', sans-serif;
    color: black;
}

.formulaire {
    display: flex;
    flex-direction: column;
}

.formulaire input {
    align-self: center;
    /* champs remplissable de formulaire */
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    width: 250px;
}

.envoyer {
    text-decoration: none;
    color: #1D6154;
    font-family: 'Syne', sans-serif;
    border-radius: 60px;
    border: 1px solid #ccc;
    /* création de bouton coloré avec radius */
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
}

.button {
    padding-top: 20px;
}

.envoyer:hover {
    background-color: #1D6154;
    /* changement de couleur lorsque je survole avec la souris */
    color: white;
}

.Mentions {
    margin-top: 7%;
    margin-bottom: 3%;
    display: flex;
    justify-content: end;
    margin-right: 7%;
}

.mdp {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    color: #3D3D3D;
}

.contact2 {
    margin-top: 5%;
    color: #1D6154;
    font-family: 'Syne', sans-serif;
    text-align: center;
}

.modal-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    margin: auto;
    position: fixed;
    top: 150px;
    left: 20%;
    right: 20%;
    height: 550px;
    overflow-y: auto;
    z-index: 9999;
}

#existing-projects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    width: 100%;
    height: 100%;
}

#close-modal {
    border: none;
    background-color: white;
    margin-left: 850px;
    margin-top: 25px;
}
.hidden {
    display: none; /*mis en dernier pour qu'il s'applique sur les balise à ne pas afficher au premier chargement de page*/
}